#hero-shop.hero-blog {
    background-image: url("../img/banner/b19.jpg");
}

#blog {
    padding: 80px 80px 0 80px;
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 70px;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;

}

#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details {
    width: 50%;
}

#blog .blog-details a {
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-details a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover {
    color: #088178;
}

#blog .blog-details a:hover::after {
    background-color: #088178;
}

/* media */
@media (max-width:576px) {
    #blog {
        padding: 20px 20px 0 20px;
    }

    #blog.blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-img {
        width: 100%;
        margin-right: 5px;
        margin-bottom: 30px;
    }

    #blog .blog-details{
        width: 100%;
    }

    #blog .blog-details h4{
        font-size: 15px;
    } 

    #blog .blog-details p{
        font-size: 13px;
    } 

}